xml2json/testcase.dtd

<!DOCTYPE contact
[
<!ELEMENT contact (name,address,city,region,postal)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT region (#PCDATA)>
<!ELEMENT postal (#PCDATA)>
<!NOTATION zippy PUBLIC "Justin Dearing">
<!NOTATION zippy2 SYSTEM "zippy da wunder squirillen">
]>
<contact>
</contact>